<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463230626268-3ki3c57h7e33rbt4ftc70ki1hhfivg77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463230626268-3ki3c57h7e33rbt4ftc70ki1hhfivg77</string>
	<key>API_KEY</key>
	<string>AIzaSyB4684Axp2ze8wuhzU_aegU8kvZhKOtH2U</string>
	<key>GCM_SENDER_ID</key>
	<string>463230626268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OleksandrSulakov.languageNote</string>
	<key>PROJECT_ID</key>
	<string>languagenote-ccc00</string>
	<key>STORAGE_BUCKET</key>
	<string>languagenote-ccc00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463230626268:ios:2907deb2fda3c2f6130719</string>
	<key>DATABASE_URL</key>
	<string>https://languagenote-ccc00.firebaseio.com</string>
</dict>
</plist>